<div class="card card-outline card-primary mt-5">
    <div class="card-header text-center">
        <a href="/owner/login" class="h1"><b>Theatre</b>Owner</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Sign Up</p>

        {{#if successMsg }}
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Success</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {{ successMsg }}
            </div>
        </div>
        {{/if }}

        {{#if errorMsg }}
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Error</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {{ errorMsg }}
            </div>
        </div>
        {{/if }}


        {{#if isLoginOtp }}
        <form id="ownerOtpVerify" class="ownerForm" action="/owner/loginverifyotp" method="post">
            {{else }}
            <form id="ownerOtpVerify" class="ownerForm" action="/owner/verifyotp" method="post">
                {{/if }}
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Verify OTP</h2>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="verificationCode"></label>
                            <input name="verificationCode" class="form-control" type="text" id="verificationCode"
                                name="verificationCode" placeholder="OTP">
                            </fieldset>
                        </div>
                        <div id="otp_timer" class="col-lg-12 text-danger text-center">
                        </div>
                        <div class="col-lg-12 resend_div" style="display:none;">
                            <fieldset class="float-end">
                                <button type="button" class="btn btn-primary btn_otp_resend">Resend OTP</button>
                            </fieldset>
                        </div>
                        <div class="col-lg-12 submit_div">
                            <fieldset class="float-end">
                                <button type="submit" onclick="return validateOtpVerifyForm()" class="btn btn-primary">Verify OTP</button>
                            </fieldset>
                        </div>
                    </div>
            </form>
    </div>
</div>