<div class="preloader">
   <div class="preloader-inner">
      <div class="preloader-icon">
         <span></span>
         <span></span>
      </div>
   </div>
</div>

<section class="section-404 padding-top padding-bottom">
   <div class="container">
      <div class="thumb-404">
         <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
         <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_qvuvdhap.json" background="transparent"
            speed="1" style="width: 100%; height: 300px;" loop autoplay></lottie-player>


      </div>
      <h3 class="title">Payment Success !</h3>
      <a href="/" class="custom-button"><i class="flaticon-back"></i> Back To Home </a>
      <a href="/user-tickets" class="custom-button">View Bookings <i class="flaticon-right"></i></a>
   </div>
</section>