{{#ifCond status '==' 'approve' }}
<form method="post" id="remarksForm" action="/admin/theatre/approve/{{ theatre._id }}">
{{/ifCond }}
{{#ifCond status '==' 'reject' }}
<form method="post" id="remarksForm" action="/admin/theatre/reject/{{ theatre._id }}">
{{/ifCond }}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            {{#ifCond status '==' 'approve' }}
                Approval Remarks
            {{/ifCond }}

            {{#ifCond status '==' 'reject' }}
                Rejection Remarks
            {{/ifCond }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
         <div class="form-group">
            <label for="exampleFormControlTextarea1">Remarks</label>
            <textarea class="form-control" name="status_update_remarks" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" onclick="return validateRemarksForm()" class="btn btn-primary">Submit</button>
    </div>
</form>